#about-container {
    padding: 110px 35px 0px;
    background-color: var(--dark-blue);
    min-height: calc(100vh - 100px);
    color: var(--electric-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    font-size: 100px;
    background-image: linear-gradient(to bottom, var(--dark-blue), 75%, var(--electric-blue));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke-color: var(--electric-blue);
    -webkit-text-stroke-width: 2px;
}

.about-text-container {
    width: 100%;
    margin-top: 40px;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0px 10px;
    margin-right: 10px;
}

.about-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0px 10px;
    margin-left: 10px;
}

.about-text-header {
    font-size: 48px;
    margin: 20px 0px;
    align-self: center;
}

.about-text-body {
    font-size: 16px;
    color: var(--grey);
}

.about-skills-header {
    font-size: 48px;
    margin: 20px 0px;
    align-self: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 10px;
    margin: 0px 30px;
}

.skill-item {
    color: var(--electric-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
}

.skill-item:hover {
    transform: scale(1.2);
}